@model WebTask.Models.EmployeeViewModel

@{
    Layout = Layout;

}

<link href="~/Content/bootstrap.css" rel="stylesheet" />


<h3><b>Details</b></h3>
<div class="container" style="width:90%;margin-top:2%">
   
        <table class="table table-striped">
           
            <tr>
                <td><b>Field name</b></td>
                <td><b>Data</b></td>
            </tr>
            <tr>
                <td>ID</td>
                <td>@Html.DisplayFor(model => model.EmployeeId)</td>
            </tr>

            <tr>
                <td>First name</td>
                <td>@Html.DisplayFor(model => model.FirstName)</td>
            </tr>

            <tr>
                <td>Last name</td>
                <td>@Html.DisplayFor(model => model.LastName)</td>
            </tr>

            <tr>
                <td>Birth date</td>
                <td>@Html.DisplayFor(model => model.BirthDate)</td>
            </tr>

            <tr>
                <td>Manager</td>
                <td>@Html.DisplayFor(model => model.Manager)</td>
            </tr>

            <tr>
                <td>Department</td>
                <td>@Html.DisplayFor(model => model.DepartmentName)</td>
            </tr>

            <tr>
                <td>Country</td>
                <td>@Html.DisplayFor(model => model.Address.Country)</td>
            </tr>

            <tr>
                <td>City</td>
                <td>@Html.DisplayFor(model => model.Address.City)</td>
            </tr>

            <tr>
                <td>Street</td>
                <td>@Html.DisplayFor(model => model.Address.Street)</td>
            </tr>
        </table>
</div>
<div>
    @Html.ActionLink("Back to List", "Index")
</div>


